.devcontainer/
.git/
.github/
.pytest_cache/
.ruff_cache/
.venv/
dist/
docs/
images/
scripts/
site/
tests/
.dockerignore
.gitignore
README.md
Dockerfile
src/auth.json
**/__marimo__/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.log
**/.DS_Store
dump_*.pkl
src/dump_*.pkl
